	/* Preserve type in Outlook reply/forward */
	a, 
  td,
  center {
    font-family: Helvetica, Arial, sans-serif;
  }

	/* Ink headings are little big */
	h1 {font-size: 30px;}
	h2 {font-size: 26px;}
	h3 {font-size: 24px;}
	h4 {font-size: 22px;}
	h5 {font-size: 18px;}
	h6 {font-size: 16px;}

	/* Lighten headlines */
	h1,
  h2,
  h3,
  h4,
  h5,
  h6 { color: #666666; }

  /* Keep the buttons neat */
	/*
	.button a,
	.button a:hover,
	.button a:visited,
	.button a:active,

	.tiny-button a,
	.tiny-button a:hover,
	.tiny-button a:visited,
	.tiny-button a:active,

	.small-button a,
	.small-button a:hover,
	.small-button a:visited,
	.small-button a:active,

	.medium-button a,
	.medium-button a:hover,
	.medium-button a:visited,
	.medium-button a:active,

	.large-button a,
	.large-button a:hover,
	.large-button a:visited,
	.large-button a:active {
		color: #ffffff !important;
	}
	*/

	/*
	.tiny-button a,
	.tiny-button a:hover,
	.tiny-button a:visited,
	.tiny-button a:active {
		color: #ffffff !important;
	}
	*/

	/*
	table.tiny-button tbody td a,
	table.tiny-button td a:hover,
	table.tiny-button td a:visited,
	table.tiny-button td a:active {
		color: #ffffff;
	}
	*/
	/*
	table.button td a,
	table.tiny-button td a,
	table.small-button td a,
	table.medium-button td a,
	table.large-button td a{
		color: #ffffff !important;
	}
	*/
	/* Sidebar Headlines */

  .sidebar h1,
  .sidebar h2,
  .sidebar h3,
  .sidebar h4,
  .sidebar h5,
  .sidebar h6 { text-align: center; }
  
  .sidebar h1,
  .sidebar h2,
  .sidebar h3,
  .sidebar h4 { /*border: 1px solid #64964B;*/ color: #64964B; margin-bottom: 4px; }

  .sidebar h1 {font-size: 22px;}
	.sidebar h2 {font-size: 22px;}
	.sidebar h3 {font-size: 22px;}
	.sidebar h4 {font-size: 18px;}
	.sidebar h5 {font-size: 16px;}
	.sidebar h6 {font-size: 14px;}
	.sidebar p  {font-size: 12px;}

	/* Utilities */
	
	.white { color: #ffffff; }
  .muted { color: #666666; }
  .highlight { color: #005587 !important; }
	.transparent { background-color: transparent !important; }
	.warning { background: #fefbed !important; border-color: #f1e7bc !important; }

  .text-right { text-align: right; }
	.serif { font-family: Georgia, "Times New Roman", Times, serif; }
	.condensed { margin:0; padding:0; line-height:1; }
  .small { font-size: 12px; }

  
  /* WordPress and Bootstrap specific */
  .wp-caption { color: #666666; }

	.alignnone {  margin-bottom: 10px; }
	.aligncenter { margin: auto; margin-bottom:10px; } /* doesn't really work */

	.alignright { float: right; margin-left: 10px; }
	.alignleft { float: left; margin-right: 10px; }

	.wp-caption {  }
	.wp-caption-text { clear: both; font-style: italic; }

	.img-responsive {  }



	