	.alignnone {  }
	.aligncenter {  }

	.alignright { float: right; margin-left: 10px; }
	.alignleft { float: left; margin-right: 10px; }

	.wp-caption {  }
	.wp-caption-text { clear: both; font-style: italic; }

	.img-responsive { max-width:100px; }
