	a {
	  color: #0064A0 !important; 
	  text-decoration: none;
	}

	.tiny-button a {
		color: #ffffff !important;
	}

	.header {
    background: #0064A0;
  }

  .masthead {
    background: #005587;
  }

  .header, .masthead {
  	color: #ffffff;
  }

  .title { color: #64964B; }
  .subtitle { color: #005587; }

  .callout .warning {
    background: #fefbed;
    border-color: #f1e7bc;
  }

  .transparent { background-color: transparent !important; }

  .separator { padding:0; margin: 0 0 4px 0 !important; }

  .muted { color: #666666; }
  .highlight { color: #005587; }
  .small { font-size: 12px; }

	.alignnone {  margin-bottom: 10px; }
	.aligncenter { margin: auto; margin-bottom:10px; } /* doesn't really work */

	.alignright { float: right; margin-left: 10px; }
	.alignleft { float: left; margin-right: 10px; }

	.wp-caption {  }
	.wp-caption-text { clear: both; font-style: italic; }

	.img-responsive {  }

	.text-right { text-align: right; }

	/* ink is a little bit */
	h1 {font-size: 30px;}
	h2 {font-size: 26px;}
	h3 {font-size: 24px;}
	h4 {font-size: 22px;}
	h5 {font-size: 18px;}
	h6 {font-size: 16px;}

	.sidebar h1 {font-size: 22px;}
	.sidebar h2 {font-size: 22px;}
	.sidebar h3 {font-size: 22px;}
	.sidebar h4 {font-size: 18px;}
	.sidebar h5 {font-size: 16px;}
	.sidebar h6 {font-size: 14px;}
